body{
	margin: 0px;
	background-color: #E8E8E8;
}
header{
	background-color: #3F5B77;
	color: #FFFFFF;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	height: 60px;
	width: 100%;
	z-index: 3;
	position: fixed;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 6px;
	-moz-box-shadow:    rgba(0,0,0,0.3) 0 1px 6px;
	box-shadow:         rgba(0,0,0,0.3) 0 1px 6px;
}
.body{
	padding-top: 100px;
}
section{
	background-color: #FFFFFF;
	position: relative;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 6px;
	-moz-box-shadow:    rgba(0,0,0,0.3) 0 1px 6px;
	box-shadow:         rgba(0,0,0,0.3) 0 1px 6px;
	margin-bottom: 12px;
	padding: 12px;
}
h3{
	margin: 0px;
	margin-bottom: 6px;
	color: #6699FF;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 10px;
}
h4{
	margin: 0px;
	margin-bottom: 6px;
	color: #666666;
}
hr{
	height: 1px;
	background-color: #E7E7E7;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
.contents{
	margin: 6px;
	color: #666666;
}
.child{
	margin: 6px;
	color: #333333;
	text-align: right;
}
.time{
	margin: 10px;
	width: 80px;
}
.title{
	z-index: 2;
	background-color: #F0F0F0;
	color: #666666;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	height: 40px;
	width: 100%;
	position: fixed;
	top:60px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 6px;
	-moz-box-shadow:    rgba(0,0,0,0.3) 0 1px 6px;
	box-shadow:         rgba(0,0,0,0.3) 0 1px 6px;
}